@model IEnumerable<ContactManagerWeb.ViewModels.ContactViewModel>

<table class="table table-sm table-hover">
    <thead class="thead-dark">
        <tr class="row">
            <th class="col-md-2">
                <a asp-action="Index"
                    asp-route-sort="@ViewData["FirstNameSortParam"]"
                    class="text-white">
                    @Html.DisplayNameFor(model => model.FirstName)
                </a>
            </th>
            <th class="col-md-2">
                <a asp-action="Index"
                    asp-route-sort="@ViewData["LastNameSortParam"]"
                    class="text-white">
                    @Html.DisplayNameFor(model => model.LastName)
                </a>
            </th>
            <th class="col-md-3">
                <a asp-action="Index"
                    asp-route-sort="@ViewData["EmailSortParam"]"
                    class="text-white">
                    @Html.DisplayNameFor(model => model.Email)
                </a>
            </th>
            <th class="col-md-2">
                <a asp-action="Index"
                    asp-route-sort="@ViewData["CellPhoneSortParam"]"
                    class="text-white">
                    @Html.DisplayNameFor(model => model.CellPhone)
                </a>
            </th>
            <th class="col-md-2">
                <a asp-action="Index"
                    asp-route-sort="@ViewData["ActiveSortParam"]"
                    class="text-white">
                    @Html.DisplayNameFor(model => model.Active)
                </a>
            </th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr class="row cursor-pointer"
            onclick="location.href = '@(Url.Action("Details", "Contacts", new { id = @item.ContactId }))'">
            <td class="col-md-2 text-break">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td class="col-md-2 text-break">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="col-md-3 text-break">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="col-md-2 text-break">
                @Html.DisplayFor(modelItem => item.CellPhone)
            </td>
            <td class="col-md-1 text-break">
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td class="col-md-2">
                @Html.ActionLink("Edit", "Edit", "Contacts", new { id = @item.ContactId })
                <span>|</span>
                @Html.ActionLink("Delete", "Delete", "Contacts", new { id = @item.ContactId })
            </td>
        </tr>
    }
    </tbody>
</table>