@model IEnumerable<ContactManagerWeb.ViewModels.ContactViewModel>

<table class="table table-sm table-hover">
    <thead class="thead-dark">
        <tr class="row">
            <th class="d-none d-md-block col-md-1">
            </th>
            <th class="col-md-2">
                <a asp-action="Index"
                    asp-route-sort="@ViewData["FirstNameSortParam"]"
                    class="text-white">
                    @Html.DisplayNameFor(model => model.FirstName)
                </a>
            </th>
            <th class="d-none d-md-block col-1">
                <a asp-action="Index"
                    asp-route-sort="@ViewData["MiddleInitialSortParam"]"
                    class="text-white">
                    @Html.DisplayNameFor(model => model.MiddleInitial)
                </a>
            </th>
            <th class="d-none d-md-block col-2">
                <a asp-action="Index"
                    asp-route-sort="@ViewData["LastNameSortParam"]"
                    class="text-white">
                    @Html.DisplayNameFor(model => model.LastName)
                </a>
            </th>
            <th class="d-none d-md-block col-1">
                <a asp-action="Index"
                    asp-route-sort="@ViewData["HomePhoneSortParam"]"
                    class="text-white">
                    @Html.DisplayNameFor(model => model.HomePhone)
                </a>
            </th>
            <th class="d-none d-md-block col-1">
                <a asp-action="Index"
                    asp-route-sort="@ViewData["CellPhoneSortParam"]"
                    class="text-white">
                    @Html.DisplayNameFor(model => model.CellPhone)
                </a>
            </th>
            <th class="d-none d-md-block col-1">
                <a asp-action="Index"
                    asp-route-sort="@ViewData["OfficeExtensionSortParam"]"
                    class="text-white">
                    @Html.DisplayNameFor(model => model.OfficeExtension)
                </a>
            </th>
            <th class="d-none d-md-block col-1">
                <a asp-action="Index"
                    asp-route-sort="@ViewData["IrdNumberSortParam"]"
                    class="text-white">
                    @Html.DisplayNameFor(model => model.IrdNumber)
                </a>
            </th>
            <th class="d-none d-md-block col-1">
                <a asp-action="Index"
                    asp-route-sort="@ViewData["ActiveSortParam"]"
                    class="text-white">
                    @Html.DisplayNameFor(model => model.Active)
                </a>
            </th>
            <th class="d-none d-md-block col-1"></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr class="row cursor-pointer"
                onclick="location.href = '@(Url.Action("Edit", "Contacts", new { id = @item.ContactId }))'">
            <td class="col-md-1">
                @if (item.DefaultImage != null)
                {
                    <img src="@item.DefaultImage.ThumbnailUrl"
                        alt="@item.DefaultImage.PublicId"
                        class="img-fluid img-thumbnail"
                        data-toggle="modal"
                        data-target="#image-modal-container" />
                }
            </td>
            <td class="col-md-2 text-break">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td class="d-none d-md-block col-md-1 text-break">
                @Html.DisplayFor(modelItem => item.MiddleInitial)
            </td>
            <td class="d-none d-md-block col-md-2 text-break">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="d-none d-md-block col-md-1 text-break">
                @Html.DisplayFor(modelItem => item.HomePhone)
            </td>
            <td class="d-none d-md-block col-md-1 text-break">
                @Html.DisplayFor(modelItem => item.CellPhone)
            </td>
            <td class="d-none d-md-block col-md-1 text-break">
                @Html.DisplayFor(modelItem => item.OfficeExtension)
            </td>
            <td class="d-none d-md-block col-md-1 text-break">
                @Html.DisplayFor(modelItem => item.IrdNumber)
            </td>
            <td class="d-none d-md-block col-md-1 text-break">
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td class="col-md-1">
                @Html.ActionLink("Delete", "Delete", "Contacts", new { id = @item.ContactId })
            </td>
        </tr>
    }
    </tbody>
</table>