@model ContactManagerWeb.ViewModels.ContactViewModel

@Html.HiddenFor(model => model.ContactId)

<div class="form-group">
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control mb-2" })
    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.MiddleInitial)
    @Html.TextBoxFor(model => model.MiddleInitial, new { @class = "form-control mb-2" })
    @Html.ValidationMessageFor(model => model.MiddleInitial, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control mb-2" })
    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.HomePhone)
    @Html.TextBoxFor(model => model.HomePhone, new { @class = "form-control mb-2" })
    @Html.ValidationMessageFor(model => model.HomePhone, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.CellPhone)
    @Html.TextBoxFor(model => model.CellPhone, new { @class = "form-control mb-2" })
    @Html.ValidationMessageFor(model => model.CellPhone, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.OfficeExtension)
    @Html.TextBoxFor(model => model.OfficeExtension, new { @class = "form-control mb-2" })
    @Html.ValidationMessageFor(model => model.CellPhone, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IrdNumber)
    @Html.TextBoxFor(model => model.IrdNumber, new { @class = "form-control mb-2" })
    @Html.ValidationMessageFor(model => model.IrdNumber, "", new { @class = "text-danger" })
</div>
<div class="form-check mb-2">
    @Html.CheckBoxFor(model => model.Active, new { @class = "form-check-input" })
    @Html.LabelFor(model => model.Active, new { @class = "form-check-label" })
</div>