@model ContactManagerWeb.ViewModels.ContactViewModel
@{
    ViewData["Title"] = "Details";
    var imageSource = string.IsNullOrEmpty(Model.ImagePublicId)
                        ? "/images/profile_placeholder.png"
                        : Model.ThumbnailUrl;
}

<h1 class="display-4">@ViewData["Title"]</h1>

<hr />

<p><a asp-action="Index">Back</a></p>

<div class="d-flex flex-wrap">
    <div class="mb-3 mr-3">
        <img src="@imageSource" alt="Profile" class="img-fluid img-thumbnail">
    </div>
    <div class="flex-fill border rounded p-3">
        <h5 class="text-dark">@Html.DisplayFor(model => model.FullName)</h5>
        <p>@Html.DisplayFor(model => model.Email)</p>

        <h5 class="text-dark pt-3">Contact Information</h5>

        <h6 class="text-secondary">@Html.DisplayNameFor(model => model.HomePhone)</h6>
        <p>@Html.DisplayFor(model => model.HomePhone)</p>

        <h6 class="text-secondary">@Html.DisplayNameFor(model => model.CellPhone)</h6>
        <p>@Html.DisplayFor(model => model.CellPhone)</p>

        <h6 class="text-secondary">@Html.DisplayNameFor(model => model.OfficeExtension)</h6>
        <p>@Html.DisplayFor(model => model.OfficeExtension)</p>

        <h6 class="text-secondary">@Html.DisplayNameFor(model => model.IrdNumber)</h6>
        <p>@Html.DisplayFor(model => model.IrdNumber)</p>

        <h6 class="text-secondary">@Html.DisplayNameFor(model => model.Active)</h6>
        <p>@(Model.Active ? "Yes" : "No")</p>
    </div>
</div>