@model ContactManagerWeb.ViewModels.ContactViewModel
@{
    ViewData["Title"] = "Contact Details";
    var imageSource = string.IsNullOrEmpty(Model.ImagePublicId)
                        ? "/images/profile_placeholder.png"
                        : Model.ThumbnailUrl;
}

<h1 class="display-4">@ViewData["Title"]</h1>

<p><a asp-action="Index">Back</a></p>

<div class="row pb-3">
    <div class="col">
        <img src="@imageSource" alt="Profile" class="img-fluid img-thumbnail">
    </div>
</div>
<div class="row pb-3">
    <div class="col-4 font-weight-bold">@Html.DisplayNameFor(model => model.FirstName)</div>
    <div class="col-8">@Html.DisplayFor(model => model.FirstName)</div>
</div>
<div class="row pb-3">
    <div class="col-4 font-weight-bold">@Html.DisplayNameFor(model => model.MiddleInitial)</div>
    <div class="col-8">@Html.DisplayFor(model => model.MiddleInitial)</div>
</div>
<div class="row pb-3">
    <div class="col-4 font-weight-bold">@Html.DisplayNameFor(model => model.LastName)</div>
    <div class="col-8">@Html.DisplayFor(model => model.LastName)</div>
</div>
<div class="row pb-3">
    <div class="col-4 font-weight-bold">@Html.DisplayNameFor(model => model.Email)</div>
    <div class="col-8">@Html.DisplayFor(model => model.Email)</div>
</div>
<div class="row pb-3">
    <div class="col-4 font-weight-bold">@Html.DisplayNameFor(model => model.HomePhone)</div>
    <div class="col-8">@Html.DisplayFor(model => model.HomePhone)</div>
</div>
<div class="row pb-3">
    <div class="col-4 font-weight-bold">@Html.DisplayNameFor(model => model.CellPhone)</div>
    <div class="col-8">@Html.DisplayFor(model => model.CellPhone)</div>
</div>
<div class="row pb-3">
    <div class="col-4 font-weight-bold">@Html.DisplayNameFor(model => model.OfficeExtension)</div>
    <div class="col-8">@Html.DisplayFor(model => model.OfficeExtension)</div>
</div>
<div class="row pb-3">
    <div class="col-4 font-weight-bold">@Html.DisplayNameFor(model => model.IrdNumber)</div>
    <div class="col-8">@Html.DisplayFor(model => model.IrdNumber)</div>
</div>